# NETWORK

#NETWORK_WEBSITE
HOST = your-local-ipv4
PORT = 80

# Change origin when changing the port / host
# When using a dns, replace your local ipv4 with it.
# Remove the p
ORIGIN=http://yourwebsite.com

# SECURITY

#SECURITY_WEBSITE
# Avoid using ';' 
WEB_USERNAME = admin
WEB_PASSWORD = admin

# MINECRAFT

# Set DEFAULT_JAVA_FILE_PATH to automaticly choose a Java version from your system.
DEFAULT_JAVA_FILE_PATH=AUTO
DEFAULT_MIN_MEM=1024
DEFAULT_MAX_MEM=2048
USE_OPTIMIZED_FLAGS=TRUE

MC_SERVER_LIMIT = 4